<html>
<body>
<svg width="674" height="340" viewBox="0 0 674 340" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0)">
        <path d="M73.3666 50.3348C220.137 33.4826 366.87 16.2609 513.676 0C525.057 50.8891 535.848 101.852 547.119 152.741C493.014 155.476 438.947 158.285 384.843 161.241C292.398 165.196 200.027 170.517 107.582 174.804C105.299 166.563 103.015 158.322 100.732 150.043C91.5977 116.82 82.0586 83.7065 73.3666 50.3348ZM483.217 36.8456C483.475 56.6913 488.153 76.2043 488.116 96.013C489.147 104.55 478.614 104.513 473.273 107.285C473.678 113.383 474.157 119.48 474.71 125.541C483.328 124.691 492.351 125.061 500.528 121.772C509.073 118.63 511.135 108.135 510.325 100.078C508.631 78.3478 506.679 56.6174 502.922 35.1457C496.366 35.737 489.773 36.2913 483.217 36.8456ZM439.352 42.7587C441.157 59.3152 443.551 75.7978 444.398 92.4283C444.177 97.8609 446.055 105.363 440.568 108.874C433.57 114.602 419.022 113.493 417.107 103.146C411.95 84.4087 412.797 64.6739 409.998 45.5304C402.853 45.937 395.708 46.4174 388.563 46.9717C390.368 68.2217 391.436 89.6196 395.598 110.574C397.439 120.959 405.984 129.754 416.517 131.196C432.06 133.043 450.107 131.75 461.672 119.887C468.633 112.385 466.423 101.372 466.202 92.1326C464.618 74.3935 463.697 56.4326 459.388 39.1C452.685 40.2826 446.019 41.4652 439.352 42.7587ZM107.766 52.1457C114.543 61.1261 122.425 72.6565 135.426 68.5543C139.036 61.6804 142.608 54.8435 146.033 47.8956C140.104 49.263 134.248 50.8152 128.428 52.5152C121.541 52.1456 114.654 52.0348 107.766 52.1457ZM306.062 56.8022C309.156 85.1478 310.298 114.048 316.154 141.839C333.722 141.359 352.653 141.47 368.38 132.6C394.308 114.676 389.042 68.6283 360.166 56.4326C342.819 48.6717 323.925 55.3239 306.062 56.8022ZM275.088 58.9826C276.045 78.9391 279.471 98.7109 280.06 118.667C278.55 131.861 254.905 133.561 252.142 120.589C246.949 101.926 248.238 82.1174 244.924 63.0848C237.926 63.4174 230.891 63.8239 223.893 64.2304C224.814 82.3391 227.061 100.374 229.013 118.372C230.007 128.978 233.617 141.211 244.04 146.089C255.273 150.265 267.685 149.378 279.25 147.235C290.704 144.537 302.969 135.261 301.827 122.178C301.458 100.3 297.96 78.6435 295.566 56.913C288.752 57.5783 281.901 58.2804 275.088 58.9826ZM157.525 71.5109C157.819 77.6087 158.151 83.7065 158.482 89.7674C165.075 91.2826 174.945 87.1435 179.439 92.8348C183.085 113.826 184.006 135.261 186.768 156.4C193.729 155.439 200.653 154.478 207.54 153.37C206.325 132.526 201.832 111.978 201.537 91.0978C204.668 84.4826 213.507 86.8848 219.142 84.7043C218.884 78.2739 218.516 71.8435 218.148 65.45C197.854 66.6696 177.708 69.3304 157.525 71.5109ZM113.586 80.787C104.894 89.0283 106.698 103.183 113.033 112.237C120.399 120.663 131.301 124.876 138.925 133.007C139.514 146.902 122.204 140.361 113.291 142.541C114.028 149.378 114.801 156.215 115.648 163.052C127.729 163.015 141.908 164.9 151.447 155.698C164.301 145.202 163.233 122.437 149.017 113.678C142.129 107.174 128.76 104.033 130.38 92.3174C137.047 91.9109 143.787 91.837 150.416 90.987C152.221 85.1478 150.195 78.8652 150.158 72.9152C137.71 72.1761 123.456 71.7696 113.586 80.787Z" fill="#0069A7"/>
        <path d="M332.47 75.687C349.707 66.7804 369.595 85.9609 364.292 103.774C363.002 117.743 346.613 122.954 334.901 119C330.591 105.622 329.597 91.2457 330.039 77.2391L332.47 75.687Z" fill="#0069A7"/>
        <path d="M483.217 36.8457C489.773 36.2913 496.366 35.737 502.922 35.1457C506.679 56.6174 508.631 78.3478 510.325 100.078C511.135 108.135 509.073 118.63 500.528 121.772C492.351 125.061 483.328 124.691 474.71 125.541C474.157 119.48 473.678 113.383 473.273 107.285C478.614 104.513 489.147 104.55 488.116 96.0131C488.153 76.2044 483.475 56.6913 483.217 36.8457Z" fill="white"/>
        <path d="M439.352 42.7587C446.019 41.4652 452.685 40.2826 459.388 39.1C463.697 56.4326 464.618 74.3935 466.202 92.1326C466.423 101.372 468.633 112.385 461.672 119.887C450.107 131.75 432.06 133.043 416.517 131.196C405.984 129.754 397.439 120.959 395.598 110.574C391.436 89.6196 390.368 68.2217 388.563 46.9717C395.708 46.4174 402.853 45.937 409.998 45.5304C412.797 64.6739 411.95 84.4087 417.107 103.146C419.022 113.493 433.57 114.602 440.568 108.874C446.055 105.363 444.177 97.8609 444.398 92.4283C443.551 75.7978 441.157 59.3152 439.352 42.7587Z" fill="white"/>
        <path d="M107.766 52.1457C114.654 52.0348 121.541 52.1457 128.428 52.5152C134.248 50.8152 140.104 49.2631 146.033 47.8957C142.608 54.8435 139.036 61.6804 135.426 68.5543C122.425 72.6565 114.543 61.1261 107.766 52.1457Z" fill="white"/>
        <path d="M306.062 56.8022C323.925 55.3239 342.819 48.6717 360.167 56.4326C389.042 68.6283 394.308 114.676 368.38 132.6C352.653 141.47 333.722 141.359 316.154 141.839C310.298 114.048 309.156 85.1478 306.062 56.8022ZM332.47 75.687L330.039 77.2391C329.597 91.2457 330.592 105.622 334.901 119C346.613 122.954 363.002 117.743 364.292 103.774C369.595 85.9609 349.707 66.7804 332.47 75.687Z" fill="white"/>
        <path d="M275.088 58.9826C281.901 58.2804 288.752 57.5783 295.566 56.9131C297.96 78.6435 301.458 100.3 301.827 122.178C302.969 135.261 290.704 144.537 279.25 147.235C267.685 149.378 255.273 150.265 244.04 146.089C233.617 141.211 230.007 128.978 229.013 118.372C227.061 100.374 224.814 82.3391 223.893 64.2304C230.891 63.8239 237.926 63.4174 244.924 63.0848C248.238 82.1174 246.949 101.926 252.142 120.589C254.905 133.561 278.55 131.861 280.06 118.667C279.471 98.7109 276.045 78.9391 275.088 58.9826Z" fill="white"/>
        <path d="M157.525 71.5109C177.708 69.3305 197.854 66.6696 218.148 65.45C218.516 71.8435 218.884 78.2739 219.142 84.7044C213.507 86.8848 204.668 84.4826 201.537 91.0978C201.832 111.978 206.325 132.526 207.541 153.37C200.653 154.478 193.729 155.439 186.768 156.4C184.006 135.261 183.085 113.826 179.439 92.8348C174.945 87.1435 165.075 91.2826 158.482 89.7674C158.151 83.7065 157.819 77.6087 157.525 71.5109Z" fill="white"/>
        <path d="M113.586 80.787C123.456 71.7696 137.71 72.1761 150.158 72.9152C150.195 78.8652 152.221 85.1479 150.416 90.987C143.787 91.837 137.047 91.9109 130.38 92.3174C128.76 104.033 142.129 107.174 149.017 113.678C163.233 122.437 164.301 145.202 151.448 155.698C141.908 164.9 127.729 163.015 115.648 163.052C114.801 156.215 114.028 149.378 113.291 142.541C122.204 140.361 139.514 146.902 138.925 133.007C131.301 124.876 120.399 120.663 113.033 112.237C106.698 103.183 104.894 89.0283 113.586 80.787Z" fill="white"/>
        <path d="M43.5338 177.761C64.1589 178.611 87.0676 173.991 105.409 185.965C137.157 204.776 134.542 260.47 100.032 274.772C80.4749 281.202 59.4078 277.58 39.4456 275.141C41.2503 242.693 42.3184 210.209 43.5338 177.761ZM68.4681 204.961C63.6433 219.743 65.1534 236.115 65.89 251.526C74.0295 258.437 87.2149 257.18 95.6123 251.267C106.846 240.033 107.472 218.561 94.6179 208.213C88.0988 202.522 74.8767 199.048 68.4681 204.961Z" fill="white"/>
        <path d="M173.62 181.124C194.797 177.059 217.522 189.735 224.961 210.061C233.432 232.124 228.239 261.283 208.13 275.252C188.278 288.224 158.85 284.602 144.266 265.348C121.946 237.741 137.268 186.963 173.62 181.124ZM174.577 205.293C151.19 212.759 152 254.409 176.603 259.065C192.44 263.389 205.368 247.387 204.962 232.604C207.356 216.344 191.004 199.38 174.577 205.293Z" fill="white"/>
        <path d="M238.441 207.178C238.294 199.196 238.81 191.176 241.02 183.452C261.645 184.598 284.516 179.609 303.005 191.361C324.772 204.813 322.378 241.585 300.427 253.744C288.899 261.024 274.609 255.998 262.123 259.139C257.409 266.309 260.282 276.139 258.993 284.38C251.369 284.159 243.782 283.9 236.195 283.53C235.495 258.03 238.81 232.678 238.441 207.178ZM261.976 225.583C261.571 237.335 275.161 238.48 283.78 236.374C291.33 235.487 293.061 226.839 296.965 221.665C293.65 210.726 284.848 201.635 272.51 203.852C260.724 202.115 261.571 217.822 261.976 225.583Z" fill="white"/>
        <path d="M321.826 285.859C323.888 252.598 323.631 219.263 326.614 186.039C342.746 186.852 359.246 185.411 375.083 189.143C389.226 192.802 398.544 207.622 396.518 222.035C397.402 235.893 386.721 245.835 378.545 255.48C384.033 259.102 389.594 262.613 395.229 266.087C394.64 273.257 394.235 280.463 392.688 287.485C375.451 293.915 367.496 269.857 352.984 264.83C342.709 266.604 347.865 279.872 346.208 287.3C338.068 286.856 329.965 286.413 321.826 285.859ZM348.97 208.657C347.976 220.076 347.607 231.57 347.976 243.063C362.155 244.948 375.709 232.789 373.02 218.08C369.3 208.102 357.515 209.285 348.97 208.657Z" fill="white"/>
        <path d="M416.002 206.957C417.696 201.302 419.206 195.352 423.036 190.696C434.822 190.437 448.155 187.998 458.836 193.911C469.922 225.213 472.279 259.028 480.566 291.217C472.426 291.328 464.323 291.291 456.258 290.959C454.306 286.154 452.574 281.239 450.107 276.657C442.557 274.107 434.049 273.811 426.462 276.287C422.631 279.872 421.526 285.378 419.059 289.813C411.435 289.702 403.848 289.443 396.224 289.074C401.012 261.283 408.82 234.193 416.002 206.957ZM439.131 215.42C436.074 222.848 433.312 230.461 431.581 238.333C430.623 243.174 427.972 250.122 434.491 252.302C439.315 252.598 444.177 252.672 449.039 252.524C447.455 239.811 445.503 226.765 439.131 215.42Z" fill="white"/>
        <path d="M476.404 191.25C484.102 191.546 491.836 191.915 499.534 192.47C504.837 214.089 505.279 236.817 513.013 257.772C520.38 236.928 524.578 215.124 529.735 193.689C537.358 193.541 544.946 193.578 552.569 193.652C547.303 227.541 536.29 260.248 527.046 293.213C516.697 293.398 506.31 293.398 495.961 293.398C486.348 260.1 481.266 225.509 476.404 191.25Z" fill="white"/>
        <path d="M559.715 194.428C567.854 194.687 575.957 195.02 584.097 195.463C584.023 217.933 581.04 240.439 583.102 262.872C583.986 279.354 614.114 279.983 615.219 263.13C618.202 241.178 616.913 218.857 618.865 196.793C626.378 198.05 636.764 194.096 642.363 199.861C643.799 217.009 641.258 234.194 641.11 251.341C639.932 264.202 641.773 280.057 630.577 289.185C615.918 300.863 595.367 298.609 578.388 294.544C564.098 291.18 556.768 276.25 557.137 262.502C557.21 239.811 558.278 217.083 559.715 194.428Z" fill="white"/>
        <path d="M0.994446 286.746C11.8226 240.254 22.0984 193.652 32.7056 147.124C55.3564 148.343 78.0441 148.972 100.732 150.043C103.015 158.322 105.299 166.563 107.582 174.804C200.027 170.517 292.398 165.196 384.843 161.241C481.192 165.491 577.578 168.707 673.926 172.846C664.792 229.057 653.927 284.935 643.688 340.924C507.82 329.726 371.952 318.602 236.121 307.404C157.893 299.052 79.3331 294.137 0.994446 286.746ZM43.5338 177.761C42.3184 210.209 41.2503 242.693 39.4456 275.141C59.4078 277.58 80.4749 281.202 100.032 274.772C134.542 260.47 137.157 204.776 105.409 185.965C87.0676 173.991 64.1589 178.611 43.5338 177.761ZM173.619 181.124C137.268 186.963 121.946 237.741 144.265 265.348C158.85 284.602 188.278 288.224 208.13 275.252C228.239 261.283 233.432 232.124 224.961 210.061C217.522 189.735 194.797 177.059 173.619 181.124ZM238.441 207.178C238.81 232.678 235.495 258.03 236.195 283.53C243.782 283.9 251.369 284.159 258.993 284.38C260.282 276.139 257.409 266.309 262.123 259.139C274.609 255.998 288.899 261.024 300.427 253.744C322.378 241.585 324.772 204.813 303.005 191.361C284.516 179.609 261.645 184.598 241.02 183.452C238.81 191.176 238.294 199.196 238.441 207.178ZM321.826 285.859C329.965 286.413 338.068 286.857 346.208 287.3C347.865 279.872 342.709 266.604 352.985 264.83C367.496 269.857 375.451 293.915 392.688 287.485C394.235 280.463 394.64 273.257 395.229 266.087C389.594 262.613 384.033 259.102 378.545 255.48C386.721 245.835 397.402 235.894 396.518 222.035C398.544 207.622 389.226 192.802 375.083 189.144C359.246 185.411 342.746 186.852 326.614 186.039C323.631 219.263 323.888 252.598 321.826 285.859ZM416.002 206.957C408.82 234.194 401.012 261.283 396.224 289.074C403.848 289.444 411.435 289.702 419.059 289.813C421.526 285.378 422.631 279.872 426.462 276.287C434.049 273.811 442.557 274.107 450.107 276.657C452.574 281.239 454.306 286.154 456.258 290.959C464.323 291.291 472.426 291.328 480.566 291.217C472.279 259.028 469.922 225.213 458.836 193.911C448.155 187.998 434.822 190.437 423.036 190.696C419.206 195.352 417.696 201.302 416.002 206.957ZM476.404 191.25C481.266 225.509 486.348 260.1 495.961 293.398C506.31 293.398 516.697 293.398 527.046 293.213C536.29 260.248 547.303 227.541 552.57 193.652C544.946 193.578 537.359 193.541 529.735 193.689C524.578 215.124 520.38 236.928 513.013 257.772C505.279 236.817 504.837 214.089 499.534 192.47C491.836 191.915 484.101 191.546 476.404 191.25ZM559.715 194.428C558.278 217.083 557.21 239.811 557.137 262.502C556.768 276.25 564.098 291.18 578.388 294.544C595.367 298.609 615.918 300.863 630.577 289.185C641.773 280.057 639.932 264.202 641.11 251.341C641.258 234.194 643.799 217.009 642.363 199.861C636.764 194.096 626.378 198.05 618.865 196.793C616.913 218.857 618.202 241.178 615.218 263.13C614.113 279.983 583.986 279.354 583.102 262.872C581.04 240.439 584.023 217.933 584.097 195.463C575.957 195.02 567.854 194.687 559.715 194.428Z" fill="#DE5226"/>
        <path d="M68.4681 204.961C74.8767 199.048 88.0988 202.522 94.6179 208.213C107.472 218.561 106.846 240.033 95.6123 251.267C87.2149 257.18 74.0295 258.437 65.89 251.526C65.1534 236.115 63.6433 219.744 68.4681 204.961Z" fill="#DE5226"/>
        <path d="M174.577 205.293C191.004 199.38 207.356 216.343 204.962 232.604C205.367 247.387 192.44 263.389 176.603 259.065C152 254.409 151.19 212.759 174.577 205.293Z" fill="#DE5226"/>
        <path d="M261.976 225.583C261.571 217.822 260.724 202.115 272.51 203.852C284.848 201.635 293.65 210.726 296.965 221.665C293.061 226.839 291.33 235.487 283.78 236.374C275.162 238.48 261.571 237.335 261.976 225.583Z" fill="#DE5226"/>
        <path d="M348.97 208.656C357.515 209.285 369.3 208.102 373.02 218.08C375.709 232.789 362.155 244.948 347.975 243.063C347.607 231.57 347.975 220.076 348.97 208.656Z" fill="#DE5226"/>
        <path d="M439.131 215.42C445.503 226.765 447.455 239.811 449.039 252.524C444.177 252.672 439.315 252.598 434.491 252.302C427.972 250.122 430.623 243.174 431.581 238.333C433.312 230.461 436.074 222.848 439.131 215.42Z" fill="#DE5226"/>
        </g>
        <defs>
        <clipPath id="clip0">
        <rect width="674" height="340" fill="white"/>
        </clipPath>
        </defs>
</svg>        
<h3>Pozvánka do systému Študuj Dopravu</h3>

<p>Pre registráciu prosím kliknite na nasledujúci odkaz, ktorý Vás presmeruje.</p>

<a href="<%= url %>" class="button">
  Registracia
</a>

<p>Ak ste si tento mail nevyžiadali, prosím ignorujte ho.</p>
</body>
</html>

<style>
    body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    body svg {
        width: 200px;
        height: auto;
        margin-bottom: 36px
    }

    h3 {
        font-size: 20px;
        color: #191D3A
    }

    p {
        font-size: 16px;
        color: #3A3E63 
    }

    .button {
        font-size: 16px;
        text-decoration: none;
        color: #4361EE;
        margin-bottom: 56px
    }
</style>